name: Build and Publish

on:
  push:
    tags:
      - v*

jobs:
  build_dropbox_upload_batch:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: docker-image
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/azuki774/dropbox-upload-batch
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=semver,pattern=latest
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Docker Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/Dockerfile-dropbox-upload-batch
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
